{% include 'header.html' %}

<div class='container'>
	<h1 class="page-header">Deep Causal Learning - Model inspector</h1>
	<div id='buttonContainer'></div>
	<div id='dashboard' class='row'></div>
	<div id='modelInfo'></div>
</div>

<script>
$(document).ready( function() {
	var modelName = "";

	formatPredictionForm = function() {
		var repr = "<div class='col-md-6'>";
		repr += "<h2>Run prediction on sample</h2><form id='predictionForm'>";
		repr += "<div class='input-group'><input type='text' placeholder='Enter a data sample' name='sample' class='form-control'/>";
		repr += "<div class='input-group-btn'><button class='btn btn-primary'>Predict</button></div></div>";
		repr += "</form><div id='predictionResults'></div></div>";
		return repr;
	}
	
	formatDatasetForm = function() {
		var repr = "<div class='col-md-6' id='datasetContainer'>";
		repr += "<h2>Run prediction on dataset</h2><form id='datasetForm' class='form-horizontal'>";
		//repr += "<div class='form-group'><label for='sample' class='col-sm-3 control-label'>Select a dataset</label>";
		//repr += "<div class='col-sm-9'><select name='sample' class='form-control'>";
		//repr += "<option value='deep'>Deep</option>";
		//repr += "<option value='shallow'>Shallow</option>";
		//repr += "</select></div></div>";
		
		//repr += "<div class='form-group'><label for='sample' class='col-sm-3 control-label'>Select a part</label>";
		//repr += "<div class='col-sm-9'><select name='sample' class='form-control'>";
		//repr += "<option value='training'>Training</option>";
		//repr += "<option value='testing'>Testing</option>";
		//repr += "</select></div></div>";
		
		repr += "<button class='btn btn-default pull-right'>Predict</button>";
		repr += "</form></div>";
		return repr;
	}
	
	formatModelInfo = function(name, modelInfo) {
		var repr = "<div class='panel panel-default'><div class='panel-heading'>Model " + name + "</div><div class='panel-body row'>";
		repr += "<dl class='dl-horizontal col-sm-6'>";
		// http://stackoverflow.com/questions/684672/how-do-i-loop-through-or-enumerate-a-javascript-object
		var i = 0;
		for (var key in modelInfo) {
			if (modelInfo.hasOwnProperty(key)) {
				repr += "<dt>" + key + "</dt><dd>" + modelInfo[key] + "</dd>";				
			}
			i++;
			if (i > Object.keys(modelInfo).length / 2) {
				repr += "</dl><dl class='dl-horizontal col-sm-6'>";
				i = -100;
			}
		}
		repr += "</dl></div></div>";
		return repr;
	}
	
	formatPredictionResult = function(response) {
		var repr = response.sample + " = " + response.predictionPretty + "<br />";
		return repr;
	}
	
	initLoading = function() {
		var models = {{ data.availableModels|tojson|safe }};
		var select = $("<select name='modelName' class='form-control input-lg'></select>");
		for (var i = 0; i < models.length; i++) {
			select.append("<option value='" + models[i] + "'>" + models[i] + "</option>");
		}
		$("#modelInfo").html('');
		$("#buttonContainer").html('');
		$("#dashboard").html("<div class='col-xs-12 col-sm-6 col-sm-offset-3'><form id='loadModelForm'><div class='input-group' id='selectTarget'><span class='input-group-btn'><button id='loadModel' class='btn btn-primary btn-lg' >Load</button></span></div></form></div>");
		$("#selectTarget").prepend(select);
		setupModelForm();
	}

	initDashboard = function() {
		$("#loadModelForm").remove();
		$("#dashboard").html(formatPredictionForm());
		$("#dashboard").append(formatDatasetForm());
		setupPredictionForm();
		setupDatasetForm();
		$("#modelInfo").html('');
		// Add button to reset model
		var btn = $("<button id='resetDashboard' class='btn btn-default pull-right'>Reset model</button>");
		$("#buttonContainer").append(btn);
		btn.click( function() {
			initLoading();
		});
	}
	
	showModelInfo = function(name, modelInfo) {
		$("#modelInfo").append(formatModelInfo(name, modelInfo));
	}

	setupModelForm = function() {
		$("#loadModelForm").submit( function(e) {
			e.preventDefault();
			modelName = $(this).find("select[name='modelName']").val();
			$.ajax({
				url: './api/load',
				method: 'POST',
				data: {'name': modelName},
				success: function(response) {
					if (response.success) {
						console.log("success!");
						initDashboard();
						showModelInfo(modelName, response.modelInfo);
					} else {
						console.log("no success!");
						$(this).find("button").removeAttr('disabled');
						$("#predictionForm input").parent().addClass("has-error");
					}
				}, error: function(response) {
					console.log("error!");
					$(this).find("button").removeAttr('disabled');
					$("#predictionForm input").parent().addClass("has-error");
				}
			});
			$(this).find("button").attr('disabled','');
			$("#predictionForm input").parent().removeClass("has-error");
		});
	}
	
	setupPredictionForm = function() {
		$("#predictionForm").submit( function(e) {
			e.preventDefault();
			var sample = $(this).find("input[name='sample']").val();
			$.ajax({
				url: './api/predict/sample',
				method: 'POST',
				data: {'sample': sample},
				success: function(response) {
					if (response.success) {
						console.log("success!");
						console.log(response);
						$("#predictionForm button").removeAttr('disabled');
						// Show results
						$("#predictionResults").append(formatPredictionResult(response));
					} else {
						console.log("no success!");
						$("#predictionForm input").parent().addClass("has-error");
						$("#predictionForm button").removeAttr('disabled');
					}
				}, error: function(response) {
					console.log("error!");
					$("#predictionForm button").removeAttr('disabled');
					$("#predictionForm input").parent().addClass("has-error");
				}
			});
			$(this).find("button").attr('disabled','');
			$(this).find("input").parent().removeClass("has-error");
		});
	}
	
	setupDatasetForm = function() {
		$("#datasetForm").submit( function(e) {
			e.preventDefault();
			$.ajax({
				url: './api/predict/testset',
				method: 'GET',
				success: function(response) {
					if (response.success) {
						console.log("success!");
						console.log(response);
						$("#datasetForm button").removeAttr('disabled');
						// Show results
						// TODO
					} else {
						console.log("no success!");
						$("#datasetForm input").parent().addClass("has-error");
						$("#datasetForm button").removeAttr('disabled');
					}
				}, error: function(response) {
					console.log("error!");
					$("#datasetForm button").removeAttr('disabled');
					$("#datasetForm input").parent().addClass("has-error");
				}
			});
			$(this).find("button").attr('disabled','');
			$(this).find("input").parent().removeClass("has-error");
		});
	}
	
	{% if data.modelSet %}
		initDashboard();
		var modelInfo = {{ data.modelInfo|tojson|safe }};
		console.log(modelInfo);
		showModelInfo(modelInfo);
	{% else %}
		initLoading();
	{% endif %}	
});
</script>

</body>
</html>