{% include 'header.html' %}

<div class='container'>
	<h1>Deep Causal Learning - Model inspector</h1>
	
	<form id='loadModelForm'>
		<input type='text' placeholder='Enter the model identifier (no path or extension)' name='modelName' class='form-control'/>
		<button id='loadModel' class='btn btn-primary' >Load</button>
	</form>
	
	<div id='dashboard' class='row'></div>
	
	<div id='modelInfo'></div>
</div>

<script>
$(document).ready( function() {
	formatPredictionForm = function() {
		var repr = "<div class='col-md-6'>";
		repr += "<h2>Run prediction on sample</h2><form id='predictionForm'>";
		repr += "<div class='form-group'><input type='text' placeholder='Enter a data sample' name='sample' class='form-control'/></div>";
		repr += "<button class='btn btn-default'>Predict</button>";
		repr += "</form></div>";
		return repr;
	}
	
	formatDatasetForm = function() {
		var repr = "<div class='col-md-6'>";
		repr += "<h2>Run prediction on dataset</h2><form id='datasetForm'>";
		repr += "<div class='form-group'><label for='sample'>Select a dataset</label><select name='sample' class='form-control'>";
		repr += "<option value='deep'>Deep</option>";
		repr += "<option value='shallow'>Shallow</option>";
		repr += "</select></div>";
		repr += "<div class='form-group'><label for='sample'>Select a part</label><select name='sample' class='form-control'>";
		repr += "<option value='training'>Training</option>";
		repr += "<option value='testing'>Testing</option>";
		repr += "</select></div>";
		repr += "<button class='btn btn-default'>Predict</button>";
		repr += "</form></div>";
		return repr;
	}
	
	formatModelInfo = function(modelInfo) {
		var repr = "<dl class='dl-horizontal'>";
		// http://stackoverflow.com/questions/684672/how-do-i-loop-through-or-enumerate-a-javascript-object
		for (var key in modelInfo) {
			if (modelInfo.hasOwnProperty(key)) {
				repr += "<dt>" + key + "</dt><dd>" + modelInfo[key] + "</dd>";				
			}
		}
		repr += "</dl>";
		return repr;
	}

	initDashboard = function() {
		$("#loadModelForm").remove();
		$("#dashboard").append(formatPredictionForm());
		$("#dashboard").append(formatDatasetForm());
	}
	
	showModelInfo = function(modelInfo) {
		$("#modelInfo").append(formatModelInfo(modelInfo));
	}

	$("#loadModelForm").submit( function(e) {
		e.preventDefault();
		var modelName = $(this).find("input[name='modelName']").val();
		$.ajax({
			url: './api/load',
			method: 'POST',
			data: {'name': modelName},
			success: function(response) {
				if (response.success) {
					console.log("success!");
					initDashboard();
					showModelInfo(response.modelInfo);
				} else {
					console.log("no success!");
				}
			}, error: function(response) {
				console.log("error!");
			}
		});
		$(this).find("button").addAttr('disabled','');
	});
	
	{% if data.modelSet %}
		initDashboard();
		var modelInfo = {{ data.modelInfo|tojson|safe }};
		console.log(modelInfo);
		showModelInfo(modelInfo);
	{% endif %}	
});
</script>

</body>
</html>